@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
}
/* 
html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  } */

/* body {
    background-color: blue;
} */

/* .container-page {
    background-color: red;
} */

.desktop-header {
    display: none;
}
.desktop-container-history-header {
    display: none;
}
.desktop-history-popup-button {
    display: none;
}
.desktop-footer {
    display: none;
}

.mobile-container-header {
    background-color: green;
    display: flex;
    height: 50px;
    position: sticky;
    z-index: 10;
}

.container-calculator {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.container-display {
    background-color: #EDEDED;  /*  FFF0E0  FEF1E0  EDEDED  */
    display: grid;
    grid-template-rows: 3fr 2fr;
    flex: 1;
}

.display-small {
    background-color: #fff;  /*  f3f3f3  FEF1E0  EDEDED  F4F4F4  */
    position: relative;
}

.display-small-text {
    font-size: 5.5vw;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 5.1vw;
    bottom: 0.1vh;
}

.display-big {
    background-color: #fff;  /*  f3f3f3  */
    font-size: 18vw;
    position: relative;  
}

.display-big-text {
    /* background-color: blue; */
    font-size: 18vw;
    font-family: 'Roboto', sans-serif;
    line-height: .75em;
    position: absolute;
    right: 4.5vw;
    bottom: 0;
}

.container-number-pad {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vw;
}

.number-pad-buttons {
    font-size: 30px;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: auto;
}

span {
    font-size: 50px; 
    font-family: 'Segoe UI';
}

.button-all-clear {
    background-color: #FFDDDD;
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.button-clear-entry {
    background-color: #fff0e2;
    border-top: 6px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.button-delete-last-digit {
    background-color: #fff0e2;
    background-image: url("Images/DeleteArrowBlack.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 6px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.button-division {
    background-color: #fff0e2;
    border-top: 6px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 3px solid white;
}
.button-number-seven {
    background-color: white;
    border-top: 3px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-eight {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-nine {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-multiplication {
    background-color: #fff0e2;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 3px solid white;
}
.button-number-four {
    background-color: white;
    border-top: 3px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-five {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-six {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-subtraction {
    background-color: #fff0e2;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 3px solid white;
}
.button-number-one {
    background-color: white;
    border-top: 3px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-two {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-three {
    background-color: white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.button-addition {
    background-color: #fff0e2;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 3px solid white;
}
.button-positive-negative {
    background-color: #fff0e2;
    background-image: url("Images/PlusMinusBlack.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 3px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 6px solid white;
}
.button-number-zero {
    background-color: white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 6px solid white;
}
.button-decimal {
    background-color: #fff0e2;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 6px solid white;
    font-size: 47px;
}
.button-equals {
    background-color: #DCE8FF;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
}

.mobile-github-project-link {
    background-color: #fff;
    background-image: url("Images/GithubLogoBlack.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: none;
    border-left: none;
    border-bottom: none;
    width: 30vw;
}

.mobile-history-button {
    background-color: #fff;  /*  fff8f1  */
    border: none;
    /* border-left: 3px solid #fff0e2;
    border-right: 3px solid #fff0e2; */
    border-radius: 0;
    font-size: 25px;
    width: 40vw;
}

.mobile-container-light-dark-mode {
    background-color: #fff;
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    width: 30vw;
}

.mobile-light-dark-mode {
    background-image: url("Images/SunIcon.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
}

.container-history {
    display: flex;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.mobile-show-history {
    transform: translateY(0);
}

.mobile-hide-history {
    transform: translateY(-100%);
    transition: transform 0.25s;
}

#history-textarea {
    background-color: #fff;
    border: none;
    position: absolute;
    resize: none;
}

.container-delete-history {
    background-color: #fff;
    /* border-top: 1px solid black; */
    bottom: 0;
    /* display: flex;
    justify-content: flex-end; */
    height: 65px;
    left: 0;
    position: absolute;
    right: 0;
}

.delete-history {
    background-image: url("Images/TrashCanBlack.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 12px;
    width: 50px;
    height: 50px;
}






/*
    Media Query-------------------------------------------------------------------------------
*/

@media (min-width: 961px) {
    .mobile-container-header {
        display: none;
    }

    html {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    body {
        margin: 0;
    }
    
    .container-page {
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        display: flex;
    }

    .container-center-content {
        position: absolute;
        margin: 0 auto;
        width: 1000px;
        height: 550px;
        margin-left: calc(50vw - 500px);
        margin-top: calc(50vh - 260px);
    }

    .container-calculator {
        /* box-shadow: 9px -10px 10px rgba(0, 0, 0, 0.199), 
          9px 0px 10px rgba(180, 180, 180, 0.199), 9px 10px 10px rgba(0, 0, 0, 0.199); */
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.199);
        width: 400px;
        height: 550px;
        max-width: 400px;
        max-height: 550px;
        z-index: 1000;
        margin-left: 300px;
        transform: translateX(0);
        transition: transform 0.65s;
        transition-timing-function: ease;
    }

    .desktop-calculator-slide-right {
        transform: translateX(50%);
    }

    .desktop-calculator-slide-left {
        transform: translateX(0);
    }

    .container-display {
        height: 150px;
        width: 400px;
    }

    .display-small {
        background-color: #fff;  /*  f3f3f3  FEF1E0  EDEDED  F4F4F4  */
        position: relative;
    }
    
    .display-small-text {
        color: #292828ee;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        right: 29px;
        bottom: 30px;
    }
    
    .display-big {
        background-color: #fff;  /*  f3f3f3  */
        font-size: 70px;
        position: relative;  
    }
    
    .display-big-text {
        /* background-color: blue; */
        font-size: 70px;
        font-family: 'Roboto', sans-serif;
        line-height: .75em;
        position: absolute;
        right: 25px;
        bottom: 18px;
    }

    .container-number-pad {
        width: 400px;
        height: 400px;
        max-width: 400px;
        max-height: 400px;
    }

    .number-pad-buttons:hover {
        cursor: pointer;
    }

    .touch-numbers:hover {
        background-color: #f0f0f0;
        cursor: default;
    }

    .touch-numbers:active {
        background-color: #f0f0f0e7;
    }

    .button-all-clear:hover {
        background-color: #ff9b9b;
    }

    .button-all-clear:active {
        background-color: #FF4444;
    }

    .touch-delete:hover {
        background-color: #FFDDDD;
    }

    .touch-delete:active {
        background-color: #FF4444;
    }

    .touch-operator:hover {
        background-color: #ffe1c7;
    }

    .touch-operator:active {
        background-color: #FFD4AC;
    }

    .button-positive-negative:hover,
    .button-decimal:hover {
        background-color: #f0f0f0;
    }

    .button-positive-negative:active,
    .button-decimal:active {
        background-color: #f0f0f0e7;
    }

    .container-history {
        /* box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.199); */
        /* box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.199), 
          0px 0px 20px rgba(0, 0, 0, 0.199), 0px 10px 10px rgba(0, 0, 0, 0.199); */
        position: relative;
        width: 400px;
        height: 550px;
        transform: translateY(0);
        flex-direction: column;
        /* z-index: 10001; */
        margin-left: 300px;
        transform: translateX(0);
        transition: transform 0.65s;
        transition-timing-function: ease;
    }

    .desktop-history-slide-right {
        transform: translateX(0);
    }

    .desktop-history-slide-left {
        transform: translateX(-50%);
    }

    .desktop-container-history-header {
        background-color: blueviolet;
        width: 400px;
        height: 40px;
        display: block;
    }

    #history-textarea {
        flex-grow: 1;
        position: relative;
    }

    .container-delete-history {
        position: relative;
    }

    .delete-history {
        background-size: 35px;
        margin-top: 7.5px;
        margin-left: 5px;
        position: absolute;
    }

    .delete-history:hover {
        cursor: pointer;
    }

    .desktop-header {
        display: flex;
        height: 50px;
        width: 100%;
        position: fixed;
        z-index: 999999;
        justify-content: center;
        align-items: center;
    }

    .desktop-history-popup-button {
        background-color: white;
        display: block;
        border-radius: 30px;
        border: none;
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.253);
        margin-left: -400px;
        margin-top: 50px;
        font-size: 20px;
        letter-spacing: 1px;
        width: 160px;
        height: 40px;
    }

    /* .desktop-history-popup-button-selected {
    } */

    .desktop-history-popup-button:hover {
        /* background-color: #fdf3ea; */
        cursor: pointer;
    }
    .desktop-history-popup-button:active {
        cursor: pointer;
        box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.253);
        font-size: 19px;
    }

    .desktop-title {
        color: #241100;
        font-size: 50px;
        margin-left: 240px;
        margin-top: 40px;
        letter-spacing: 2px;
    }

    .desktop-light-dark-mode {
        border-radius: 50%;
        background-image: url("Images/SunIcon.png");
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        position: absolute;
        margin-left: 850px;
        margin-top: 50px;
    }

    .desktop-light-dark-mode:hover {
        background-color: #fdf3ea; /*  rgba(0, 0, 0, 0.034)  fff0e2  fdf3ea */
        cursor: pointer;
    }

    .desktop-light-dark-mode-DARK:hover {
        background-color: #3f3f3f;
    }

    .desktop-footer {
        background-color: #fdf3ea;
        display: block;
        height: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .desktop-created-by {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    .desktop-github-account-link {
        color: black;
        margin-left: 5px;
        margin-right: 15px;
        text-decoration: none;
    }

    .desktop-github-account-link:hover {
        text-decoration: underline black;
    }

    .desktop-github-project-link {
        background-color: white;
        background-image: url("Images/GithubLogoBlack.png");
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border: 2px solid rgb(0, 0, 0);
        width: 32px;
        height: 32px;
    }

    .desktop-github-project-link:hover {
        background-color: black;
        background-image: url("Images/GithubLogoWhite.png");
        border: 2px solid white;
    }
}



@media (min-width: 961px)
and (max-height: 700px) {
    .container-center-content {
        width: 800px;
        height: 400px;
        margin-left: calc(50vw - 400px);
        margin-top: calc(50vh - 200px);
    }

    .container-calculator {
        width: 290px;
        height: 400px;
        max-width: 290px;
        max-height: 400px;
        margin-left: 255px;
    }

    .container-display {
        height: 110px;
        width: 290px;
    }

    .display-small-text {
        color: #000;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    
    .display-big {
        font-size: 50px; 
    }
    
    .display-big-text {
        font-size: 50px;
        right: 18px;
        bottom: 10px;
    }

    .container-number-pad {
        width: 290px;
        height: 290px;
        max-width: 290px;
        max-height: 290px;
    }

    .number-pad-buttons {
        font-size: 25px;
    }

    .touch-numbers {
        font-size: 35px;
    }

    span {
        font-size: 30px;
    }

    .button-positive-negative,
    .button-delete-last-digit {
        background-size: 30px;
    }

    .container-history {
        position: relative;
        width: 290px;
        height: 400px;
        transform: translateY(0);
        flex-direction: column;
        /* z-index: 10001; */
        margin-left: 255px;
    }

    .desktop-history-slide-right {
        transform: translateX(0);
    }

    .desktop-history-slide-left {
        transform: translateX(-50%);
    }

    .desktop-container-history-header {
        background-color: blueviolet;
        width: 290px;
        height: 40px;
        display: block;
    }

    .container-delete-history {
        width: 290px;
    }
}

@media (min-width: 961px)
and (min-height: 880px) {
    .desktop-footer {
        height: 75px;
    }

    .desktop-created-by {
        height: 75px;
    }
}