@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* body {
    background-color: blue;
} */

.container-page {
    background-color: red;
}

.desktop-header {
    display: none;
}
.desktop-container-history-header {
    display: none;
}
.desktop-history-popup-button {
    display: none;
}
.desktop-footer {
    display: none;
}

.mobile-container-header {
    background-color: green;
    display: flex;
    height: 50px;
    position: sticky;
    z-index: 10;
}

.container-calculator {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.container-display {
    background-color: #EDEDED;
    flex: 1;
}

.container-number-pad {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vw;
}

.number-pad-buttons {
    border-right: 2px solid #EDEDED;
    border-bottom: 2px solid #EDEDED;
    border-top: none;
    border-left: none;
    font-size: 30px;
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.button-all-clear {
    background-color: #FFDDDD;
    border-left: 2px solid #EDEDED;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button-clear-entry {
    background-color: #F4F4F4;
}
.button-delete-last-number {
    background-color: #F4F4F4;
}
.button-division {
    background-color: #F4F4F4;
}
.button-number-seven {
    background-color: white;
    border-left: 2px solid #EDEDED;
}
.button-number-eight {
    background-color: white;
}
.button-number-nine {
    background-color: white;
}
.button-multiplication {
    background-color: #F4F4F4;
}
.button-number-four {
    background-color: white;
    border-left: 2px solid #EDEDED;
}
.button-number-five {
    background-color: white;
}
.button-number-six {
    background-color: white;
}
.button-subtraction {
    background-color: #F4F4F4;
}
.button-number-one {
    background-color: white;
    border-left: 2px solid #EDEDED;
}
.button-number-two {
    background-color: white;
}
.button-number-three {
    background-color: white;
}
.button-addition {
    background-color: #F4F4F4;
}
.button-positive-negative {
    background-color: #F4F4F4;
    border-left: 2px solid #EDEDED;
}
.button-number-zero {
    background-color: white;
}
.button-decimal {
    background-color: #F4F4F4;
}
.button-equals {
    background-color: #DCE8FF;
}

.mobile-github-project-link {
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: 1px solid #EDEDED;
    border-bottom: none;
    width: 25vw;
}

.mobile-history-button {
    background-color: white;
    border-top: none;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    border-bottom: none;
    border-radius: 0;
    font-size: 25px;
    width: 50vw;
}

.mobile-container-light-dark-mode {
    background-color: white;
    border-top: none;
    border-right: none;
    border-left: 1px solid #EDEDED;
    border-bottom: none;
    width: 25vw;
}

.container-history {
    display: flex;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.mobile-show-history {
    transform: translateY(0);
}

.mobile-hide-history {
    transform: translateY(-100%);
    transition: transform 0.25s;
}

#history-textarea {
    background-color: #EDEDED;
    border: none;
    position: absolute;
    resize: none;
}

.container-delete-history {
    background-color: orange;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}