@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
}


.desktop-header {
    display: none;
}
.desktop-container-history-header {
    display: none;
}
.desktop-history-popup-button {
    display: none;
}
.desktop-footer {
    display: none;
}

.mobile-container-header {
    display: flex;
    height: 50px;
    position: sticky;
    z-index: 10;
}

.container-calculator {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.container-display {
    background-color: #EDEDED;  /*  FFF0E0  FEF1E0  EDEDED  */
    display: grid;
    grid-template-rows: 3fr 2fr;
    flex: 1;
}

.display-small {
    background-color: #fff;  /*  f3f3f3  FEF1E0  EDEDED  F4F4F4  */
    position: relative;
}

.display-small-DARK {
    background-color: #161616;
    color: #fff;
}

.display-small-text {
    font-size: 5.5vw;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 5.1vw;
    bottom: 0.1vh;
}

.display-big {
    background-color: #fff;  /*  f3f3f3  */
    font-size: 18vw;
    position: relative;  
}

.display-big-DARK {
    background-color: #161616;
    color: #fff;
}

.display-big-text {
    /* background-color: blue; */
    font-size: 18vw;
    font-family: 'Roboto', sans-serif;
    line-height: .75em;
    position: absolute;
    right: 4.5vw;
    bottom: 0;
}

.container-number-pad {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vw;
}

.number-pad-buttons {
    font-size: 30px;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: auto;
}

span {
    font-size: 50px; 
    font-family: 'Segoe UI';
}

.button-all-clear {
    background-color: #FFDDDD;
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.button-all-clear-DARK {
    background-color: #310E0E;
}

.button-clear-entry {
    background-color: #fff0e2;
    border-top: 6px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.button-clear-entry-DARK {
    background-color: #262626;
}

.button-delete-last-digit {
    background-color: #fff0e2;
    background-image: url("Images/DeleteArrowBlack.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 6px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.button-delete-last-digit-DARK {
    background-image: url("Images/DeleteArrowWhite.png");
    background-color: #262626;
}

.button-division {
    background-color: #fff0e2;
    border-top: 6px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 3px solid white;
}
.button-number-seven {
    background-color: white;
    border-top: 3px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-eight {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-nine {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-multiplication {
    background-color: #fff0e2;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 3px solid white;
}
.button-number-four {
    background-color: white;
    border-top: 3px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-five {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-six {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-subtraction {
    background-color: #fff0e2;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 3px solid white;
}
.button-number-one {
    background-color: white;
    border-top: 3px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-two {
    background-color: white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.button-number-three {
    background-color: white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.button-addition {
    background-color: #fff0e2;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 3px solid white;
}
.button-positive-negative {
    background-color: #fff0e2;
    background-image: url("Images/PlusMinusBlack.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 3px solid white;
    border-left: 6px solid white;
    border-right: 3px solid white;
    border-bottom: 6px solid white;
}
.button-positive-negative-DARK {
    background-image: url("Images/PlusMinusWhite.png");
    background-color: #262626;
}

.button-number-zero {
    background-color: white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 6px solid white;
}
.button-decimal {
    background-color: #fff0e2;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 6px solid white;
    font-size: 47px;
}
.button-decimal-DARK {
    background-color: #262626;
}

.button-equals {
    background-color: #DCE8FF;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
}
.button-equals-DARK {
    background-color: #0E1628;
}

.number-pad-buttons-DARK {
    border-color: #161616;
    color: #fff;
} 

.touch-numbers-DARK {
    background-color: #161616;
    color: #fff;
}

.touch-operator-DARK {
    background-color: #262626;
}

.mobile-github-project-link {
    background-color: #fff;
    background-image: url("Images/GithubLogoBlack.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: none;
    border-left: none;
    border-bottom: none;
    width: 30vw;
}

.mobile-github-project-link-DARK {
    background-color: #161616;
    background-image: url("Images/GithubLogoWhite.png");
}

.mobile-history-button {
    background-color: #fff;  /*  fff8f1  */
    border: none;
    /* border-left: 3px solid #fff0e2;
    border-right: 3px solid #fff0e2; */
    border-radius: 0;
    font-size: 25px;
    width: 40vw;
}

.mobile-history-button-DARK {
    background-color: #161616;
    color: #fff;
}

.mobile-container-light-dark-mode {
    background-color: #fff;
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    width: 30vw;
}

.mobile-light-dark-mode {
    background-image: url("Images/SunIcon.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
}

.mobile-light-dark-mode-DARK {
    background-image: url("Images/MoonIcon.png");
    background-size: 30px;
    background-color: #161616;
}

.container-history {
    display: flex;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.mobile-show-history {
    transform: translateY(0);
}

.mobile-hide-history {
    transform: translateY(-100%);
    transition: transform 0.25s;
}

.history-textarea {
    background-color: #fff;
    border: none;
    position: absolute;
    resize: none;
    outline: none;
    padding-top: 70%;
    padding-left: 39%;
    font-size: 20px;
    font-style: italic;
    color: #595959;
}
.history-textarea-DARK {
    background-color: #161616;
}

.container-delete-history {
    background-color: #fff;
    bottom: 0;
    height: 65px;
    left: 0;
    position: absolute;
    right: 0;
}
.container-delete-history-DARK {
    background-color: #161616;
}

.delete-history {
    background-image: url("Images/TrashCanBlack.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 12px;
    width: 50px;
    height: 50px;
}
.delete-history-DARK {
    background-image: url("Images/TrashCanWhite.png");
}






/*
    Media Query-------------------------------------------------------------------------------
*/

@media (min-width: 961px) {
    .mobile-container-header {
        display: none;
    }

    html {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    body {
        margin: 0;
    }
    
    .container-page {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
        height: 100%;
        margin: auto;
        position: relative;
        display: flex;
    }

    .container-center-content {
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.199);
        margin: auto;
        width: 400px;
        height: 550px;
        transition: width 0.65s ease;
    }

    .container-center-content-DARK {
        box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.692);
    }

    .container-center-content-expand {
        width: 800px;
    }

    .container-calculator {
        width: 400px;
        height: 550px;
        max-width: 400px;
        max-height: 550px;
        z-index: 1000;
        transform: translateX(0);
        transition: transform 0.65s;
        transition-timing-function: ease;
    }

    .desktop-calculator-slide-right {
        transform: translateX(100%);
    }

    .desktop-calculator-slide-left {
        transform: translateX(0);
    }

    .container-display {
        height: 150px;
        width: 400px;
    }

    .display-small {
        position: relative;
    }
    
    .display-small-text {
        color: #292828ee;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        right: 29px;
        bottom: 30px;
    }

    .display-small-text-DARK {
        color: #fff;
    }
    
    .display-big {
        font-size: 70px;
        position: relative;  
    }
    
    .display-big-text {
        /* background-color: blue; */
        font-size: 70px;
        font-family: 'Roboto', sans-serif;
        line-height: .75em;
        position: absolute;
        right: 25px;
        bottom: 18px;
    }

    .container-number-pad {
        width: 400px;
        height: 400px;
        max-width: 400px;
        max-height: 400px;
    }

    .number-pad-buttons:hover {
        cursor: pointer;
    }

    .touch-numbers:hover {
        background-color: #ebebeb;
        cursor: default;
    }

    .touch-numbers:active {
        background-color: #f0f0f0e7;
    }

    .button-all-clear:hover {
        background-color: #ff9b9b;
    }

    .button-all-clear:active {
        background-color: #FF4444;
    }

    .button-all-clear-DARK:hover {
        background-color: #4e1111;
    }

    .button-all-clear-DARK:active {
        background-color: #7a1313;
    }

    .touch-delete:hover {
        background-color: #ff9b9b;
    }

    .touch-delete:active {
        background-color: #FF4444;
    }

    .button-clear-entry-DARK:hover {
        background-color: #4e1111;
    }

    .button-clear-entry-DARK:active {
        background-color: #7a1313;
    }

    .button-delete-last-digit-DARK:hover {
        background-color: #4e1111;
    }

    .button-delete-last-digit-DARK:active {
        background-color: #7a1313;
    }

    .touch-operator:hover {
        background-color: #ffe1c7;
    }

    .touch-operator:active {
        background-color: #FFD4AC;
    }

    .touch-operator-DARK:hover {
        background-color: #1d2335;
    }

    .touch-operator-DARK:active {
        background-color: #252C43;
    }

    .button-positive-negative:hover,
    .button-decimal:hover {
        background-color: #ebebeb;
    }

    .button-equals:hover {
        background-color: #a7c6ff;
    }

    .button-equals:active {
        background-color: #6599FF;
    }

    .button-equals-DARK:hover {
        background-color: #0f1a35;
    }

    .button-equals-DARK:active {
        background-color: #091B4A;
    }

    .button-positive-negative:active,
    .button-decimal:active {
        background-color: #f0f0f0e7;
    }

    .touch-numbers-DARK:hover,
    .button-positive-negative-DARK:hover,
    .button-decimal-DARK:hover {
        background-color: #3d3d3d;
    }

    .touch-numbers-DARK:active,
    .button-positive-negative-DARK:active,
    .button-decimal-DARK:active {
        background-color: #555555;
    }

    .container-history {
        position: relative;
        width: 400px;
        height: 550px;
        transform: translateY(0);
        flex-direction: column;
        /* z-index: 10001; */
    }

    .desktop-container-history-header {
        /* background-color: blueviolet; */
        width: 400px;
        height: 50px;
        max-height: 50px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desktop-history-title {
        font-size: 25px;
        border-bottom: 3px solid #ff9b9b;
        padding-top: 5px;
    }

    .desktop-history-title-DARK {
        border-bottom: 3px solid #641111;
        color: #fff;
    }

    .history-textarea {
        flex-grow: 1;
        position: relative;
        padding-top: 45%;
        padding-left: 39%;
        font-size: 20px;
        font-style: italic;
        color: #595959;
    }

    .history-textarea:hover {
        cursor: default;
    }

    .history-textarea-DARK {
        flex-grow: 1;
        position: relative;
        padding-top: 45%;
        padding-left: 39%;
        font-size: 20px;
        font-style: italic;
        color: #A1A1A1;
    }

    .container-delete-history {
        position: relative;
        height: 50px;
        max-height: 50px;
        min-height: 50px;
    }

    .delete-history {
        background-size: 35px;
        margin-top: 7.5px;
        margin-left: 5px;
        position: absolute;
        display: none;
    }

    .delete-history:hover {
        cursor: pointer;
    }

    .desktop-header {
        display: flex;
        height: 50px;
        width: 100%;
        position: fixed;
        z-index: 999999;
        justify-content: center;
        align-items: center;
    }

    .desktop-history-popup-button {
        background-color: white;    /*  fff0e2  */
        display: block;
        border-radius: 30px;
        border: none;
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.253);
        font-family: "Lato";
        margin-left: -400px;
        margin-top: 50px;
        font-size: 20px;
        letter-spacing: 1px;
        width: 160px;
        height: 40px;
    }

    .desktop-history-popup-button-selected {
        background-color: rgb(253, 253, 253);
        box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.137);
        font-size: 19px;
    }

    .desktop-history-popup-button:hover {
        /* background-color: #fff0e2; */
        cursor: pointer;
    }
    .desktop-history-popup-button:active {
        background-color: rgb(250, 250, 250);
        /* background-color: #fff0e2; */
        cursor: pointer;
        box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.295);
        font-size: 18px;
    }

    .desktop-history-popup-button-DARK{
        color: white;
        background-color: rgb(22, 22, 22);
        box-shadow: none;
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 1rem rgba(0, 255, 170, 0.473),
                    0 0 0.8rem rgba(0, 255, 170, 0.473),
                    0 0 1.8rem rgba(0, 255, 170, 0.473),
                    inset 0 0 1.3rem rgba(0, 255, 170, 0.473);
        /* box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 1rem #0fa,
                    0 0 0.8rem #0fa,
                    0 0 1.8rem #0fa,
                    inset 0 0 1.3rem #0fa; */

        text-shadow: 0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 32px rgba(0, 255, 170, 0.773),
            0 0 42px rgba(0, 255, 170, 0.773),
            0 0 82px rgba(0, 255, 170, 0.773),
            0 0 92px rgba(0, 255, 170, 0.773),
            0 0 102px rgba(0, 255, 170, 0.773),
            0 0 151px rgba(0, 255, 170, 0.773),
            0 0 181px rgba(0, 255, 170, 0.773);
    }

    .desktop-history-popup-button-DARK:active {
        /* background-color: #202020; */
        /* box-shadow: inset 1px 2px 4px 2px rgba(255, 255, 255, 0.253); */
        background-color: rgb(22, 22, 22);
        box-shadow: none;
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 1rem rgba(0, 255, 170, 0.473),
                    0 0 0.8rem rgba(0, 255, 170, 0.473),
                    0 0 1.8rem rgba(0, 255, 170, 0.473),
                    inset 0 0 1.3rem rgba(0, 255, 170, 0.473);
        font-size: 20px;
    }

    .desktop-history-popup-button-selected-DARK {
        color: rgb(182, 182, 182);
        box-shadow: none;
        box-shadow: 0 0 .2rem rgba(235, 235, 235, 0.13),
                    0 0 .2rem rgba(235, 235, 235, 0.13),
                    0 0 1rem rgba(77, 255, 196, 0.173),
                    0 0 0.8rem rgba(77, 255, 196, 0.173),
                    /* 0 0 1.8rem rgba(21, 216, 151, 0.273), */
                    inset 0 0 1.3rem rgba(77, 255, 196, 0.173);
        /* background-color: #242424; */
        /* box-shadow: inset 1px 2px 4px 2px rgba(255, 255, 255, 0.253); */
        font-size: 20px;
        text-shadow: 
            0 0 7px rgba(228, 228, 228, 0.534),
            /* 0 0 10px rgba(228, 228, 228, 0.534),
            0 0 21px rgba(228, 228, 228, 0.534), */
            0 0 42px rgba(21, 216, 151, 0.273),
            0 0 82px rgba(21, 216, 151, 0.273),
            0 0 92px rgba(21, 216, 151, 0.273),
            0 0 102px rgba(21, 216, 151, 0.273);
}

    .desktop-history-popup-button-selected-DARK:active {
        background-color: rgb(22, 22, 22);
        box-shadow: none;
        box-shadow: 0 0 .2rem rgba(235, 235, 235, 0.13),
                    0 0 .2rem rgba(235, 235, 235, 0.13),
                    0 0 1rem rgba(77, 255, 196, 0.173),
                    0 0 0.8rem rgba(77, 255, 196, 0.173),
                    /* 0 0 1.8rem rgba(21, 216, 151, 0.273), */
                    inset 0 0 1.3rem rgba(77, 255, 196, 0.173);
        font-size: 20px;
    }

    .desktop-title {
        color: #241100;
        font-size: 50px;
        margin-left: 240px;
        margin-top: 40px;
        letter-spacing: 2px;
    }

    .desktop-light-dark-mode {
        border-radius: 50%;
        background-image: url("Images/SunIcon.png");
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        position: absolute;
        margin-left: 850px;
        margin-top: 50px;
    }

    .desktop-light-dark-mode:hover {
        background-color: #fff0e2; /*  rgba(0, 0, 0, 0.034)  fff0e0  ffe1c7  fff0e2  fdf3ea */
        cursor: pointer;
    }
    
    .desktop-light-dark-mode-DARK {
        background-image: url("Images/MoonIcon.png");
        background-size: 32px;
    }

    .desktop-light-dark-mode-DARK:hover {
        /* background-color: #3f3f3f; */
        background-color: transparent;
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 1rem rgba(0, 255, 170, 0.473),
                    0 0 0.8rem rgba(0, 255, 170, 0.473),
                    0 0 1.8rem rgba(0, 255, 170, 0.473),
                    inset 0 0 1.3rem rgba(0, 255, 170, 0.473);
    }

    .desktop-footer {
        background-color: #fff0e2;  /*  fdf3ea  */
        display: block;
        height: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .desktop-footer-DARK {
        background-color: #262626;
    }

    .desktop-created-by {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    .desktop-created-by-DARK {
        color: #fff;
    }

    .desktop-github-account-link {
        color: black;
        margin-left: 5px;
        margin-right: 15px;
        text-decoration: none;
        text-decoration: underline rgb(51, 51, 51);
    }

    .desktop-github-account-link:hover {
        text-shadow: 0 0 1px #000;   /* #ffb26f */
        /* text-decoration-thickness: 2px; */
    }

    .desktop-github-account-link-DARK {
        color: #fff;
        text-decoration: underline rgb(202, 202, 202);
    }

    .desktop-github-account-link-DARK:hover {
        text-shadow: 0 0 3px rgb(85, 255, 204);
        /* text-decoration-thickness: 2px; */
    }

    .desktop-github-project-link {
        background-color: white;
        background-image: url("Images/GithubLogoBlack.png");
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }

    .desktop-github-project-link:hover {
        border: 2px solid black;
    }

    .desktop-github-project-link-DARK {
        background-image: url("Images/GithubLogoWhite.png");
        background-color: black;
    }

    .desktop-github-project-link-DARK:hover {
        border: 2px solid white;
        box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 1rem rgba(0, 255, 170, 0.473),
                    0 0 0.8rem rgba(0, 255, 170, 0.473),
                    0 0 1.8rem rgba(0, 255, 170, 0.473),
                    inset 0 0 1.3rem rgba(0, 255, 170, 0.473);
    }
}



@media (min-width: 961px)
and (max-height: 700px) {
    .desktop-history-popup-button {
        margin-top: 35px;
    }

    .desktop-title {
        font-size: 45px;
        margin-top: 25px;
    }

    .desktop-light-dark-mode {
        margin-top: 35px;
    }

    .container-center-content {
        width: 290px;
        height: 400px;
        /* margin-left: calc(50vw - 400px);
        margin-top: calc(50vh - 200px); */
    }

    .container-center-content-expand {
        width: 580px;
    }

    .container-calculator {
        width: 290px;
        height: 400px;
        max-width: 290px;
        max-height: 400px;
    }

    .container-display {
        height: 110px;
        width: 290px;
    }

    .display-small-text {
        /* color: #000; */
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    
    .display-big {
        font-size: 50px; 
    }
    
    .display-big-text {
        font-size: 50px;
        right: 18px;
        bottom: 10px;
    }

    .container-number-pad {
        width: 290px;
        height: 290px;
        max-width: 290px;
        max-height: 290px;
    }

    .number-pad-buttons {
        font-size: 25px;
    }

    .touch-numbers {
        font-size: 35px;
    }

    span {
        font-size: 30px;
    }

    .button-positive-negative,
    .button-delete-last-digit {
        background-size: 30px;
    }

    .container-history {
        position: relative;
        width: 290px;
        height: 400px;
        transform: translateY(0);
        flex-direction: column;
        /* z-index: 10001; */
    }
/* 
    .desktop-history-slide-right {
        transform: translateX(0);
    }

    .desktop-history-slide-left {
        transform: translateX(-50%);
    } */

    .desktop-container-history-header {
        /* background-color: blueviolet; */
        width: 290px;
        height: 40px;
    }

    .desktop-history-title {
        /* background-color: chartreuse; */
        font-size: 22px;
        border-bottom: 2px solid #ff9b9b;
        padding-top: 10px;
    }

    .history-textarea {
        flex-grow: 1;
        position: relative;
        padding-top: 45%;
        padding-left: 36.5%;
        font-size: 16px;
        font-style: italic;
        color: rgb(65, 65, 65);
    }

    .container-delete-history {
        width: 290px;
    }
}

@media (min-width: 961px)
and (min-height: 880px) {
    .desktop-history-popup-button {
        margin-top: 75px;
    }

    .desktop-title {
        margin-top: 65px;
        font-size: 60px;
    }

    .desktop-light-dark-mode {
        margin-top: 75px;
    }

    .desktop-footer {
        height: 75px;
    }

    .desktop-created-by {
        height: 75px;
    }
}